.footer {
  background-color: orange;
}
.footer-row {
  width: 95%;
  margin-left: 2.5%;
  display: flex;
}
.name {
  font-weight: bold;
  border-bottom: 2px solid red;
  display: inline-block;
}
.named {
  margin-bottom: 1em;
  text-align: justify;
}
.footer-column {
  width: 44%;
  text-align: center;
}
.footer-column a {
  text-decoration: none;
  color: white;
}
.footer-column a:hover {
  color: blue;
  font-weight: bold;
}

.linkedin-icon {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.linkedin-icon:hover {
  color: blue;
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 768px) {
  .footer-column {
    width: 50%; /* Each column takes 50% width on screens larger than 768px */
  }
}
