.footer {
  background-color: orange;
}
.footer-row {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
}
.name {
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid red;
  display: inline-block;
  margin-bottom: 15px;
}
.name a {
  color: black;
}
.named {
  margin-bottom: 1em;
  text-align: justify;
}
.footer-column {
  flex: 1;
}

.footer-column a {
  text-decoration: none;
  color: white;
}
.footer-column a:hover {
  color: blue;
  font-weight: bold;
}

.linkedin-icon {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.linkedin-icon:hover {
  color: blue;
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 768px) {
  .footer-row {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-column {
    flex-basis: 50%;
  }
  .named {
    width: 95%;
    margin-left: 2.5%;
  }
}
